*{
    box-sizing: border-box;
}
:root{
 --firstColor:white;
 --nav-color:#143345;
 --button-color:rgb(231, 202, 113);
}
.navbar{
    padding-top: 25px!important;
    padding-bottom: 25px!important;
    

}
.navbg{
    background-color: var(--firstColor);
}
.navbar-brand img{
    width:300px;
    padding-left: 15px;
}

.navbar-toggler{
    border: none!important;
}
.nav-link{
    color: var(--nav-color);
    font-size: 15px;
    font-weight: 500;
}

.nav-link:hover{
    opacity: .7;
}
.nav-item{
    padding-right: 40px;
}

.btn{
    background-color: var(--button-color)!important;
    border: 1px solid var(--button-color);
    border-radius: 0!important;
    font-size: 15px;
    font-weight: 500;
    padding:15px 20px;
}

header{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    box-shadow: inset 0 0 0 2000px rgba(231, 202, 113, 0.27);
}
#services{
    background-image: url(../images/servicesbackground.jpg);
}

#patient{
    background-image: url(../images/patientsbackground.jpg);
}
#aboutheader{
    background-image: url(../images/aboutheader.jpg);
}
#warranty{
    background-image: url(../images/warrenybackground.jpg);
}
#aboutheader .content{
    color: rgb(255, 255, 255);
}
header .content{
    padding-top: 320px;
    color: black;
    text-align: center;
}
.shinebright{
    padding-top: 300px;
}

.content p{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 25px;
}

.content h1{
    font-size: 40px;
    padding-bottom: 40px;
    font-family: 'EB Garamond', serif;
}
.content button{
    background-color: var(--button-color)!important;
    border: 1px solid var(--button-color);
    border-radius: 0!important;
    font-size: 15px;
    font-weight: 500;
    padding:15px 20px;
    box-shadow: -5px 8px 10px rgba(0, 0, 0, 0.266);
}
.content button:hover{
    animation-name: moving;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

.section1{
    background-image: url(../images/blue-grain-village-dental.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    padding: 100px;
    color: var(--firstColor);
}
#Dentistry{
    height: 60vh;
}
.Dentistry{
    padding: 50px;
    border: 1px solid var(--firstColor);
    border-radius: 0px 50px 0px 50px; 
}
.section1 img{
    width: 100%;
}
.section1 .Dentistry h2{
    font-size: 40px;
    padding-bottom: 25px;
    font-family: 'EB Garamond', serif;
}
.section1 .Dentistry .p1{
    font-size: 18px;
}
.section1 .Dentistry ul{
    list-style: none;
}
.section1 .Dentistry ul li{
    padding-bottom: 10px;
    font-size: 18px;
}
.section1 .Dentistry ul li i{
    padding-right: 15px;
    font-size: 23px;
    color: var(--button-color);
}

.section1 .Dentistry .p2{
    font-size: 18px;
    padding-left: 15px;
    border-left: 4px solid var(--button-color);
    font-style: italic;
}

.section2{
    padding-top: 80px;
    color: var(--nav-color);
}
.section2content{
    padding-top: 70px;
    padding-left: 120px;
}

.section2content h2{
    font-size: 45px;
    font-weight: 500;
    font-family: 'EB Garamond', serif;
}
.section2content i{
    color: var(--button-color);
    padding-top: 20px;
    padding-bottom: 20px;
}

.section2content a{
    color: var(--nav-color);
    font-size: 20px;
    font-weight: 500;
}
.section2 .cards{
    margin-left: 40px;
}
.section2 .cards .card1{
    background-color: #f4f6f3;
    border-radius: 0px 20px 0px 20px;
    width: 70%;
    margin-bottom: 15px;
}

.section2 .cards .card2{
    background-color: var(--button-color);
    border-radius: 0px 20px 0px 20px;
    width: 70%;
}
.section2 .cards p{
    font-size: 18px;
    color: var(--nav-color);
}
.section2 .cards span{
    color: var(--nav-color);
    font-size: 18px;
    font-weight: 500;
}
.section3{
    margin-top: 40px;
    padding-top: 80px;
    background-color: #f4f6f3;
    color: var(--nav-color);
    padding-bottom: 30px;
}

.section3 h2{
    font-family: 'EB Garamond', serif;
    font-weight: 600;
}


.section3 .card{
    margin-left: 50px;
    width:28%;
    margin-top: 35px;
    background-color:transparent;
    border: none!important;
    padding: 0!important;
}
.card-header{
    background-color: transparent!important;
    border-bottom: none!important;
}
.section3 .card:hover{
    background-color: var(--firstColor)!important;
    animation-name: moving;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    border-radius: 50px 50px 0px 0px;
    box-shadow: -5px 8px 10px rgba(0, 0, 0, 0.266);
}
.section3 .card img{
    border-radius: 50px 50px 0px 0px;
    padding-top: 10px;
}
.section3 .card h3{
    font-size: 30px;
    font-family: 'EB Garamond', serif;
}
.section3 .card p{
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.section3 button{
    background-color: transparent;
    border: 1px solid var(--button-color);
    padding: 15px 50px;
    font-size: 18px;
    font-weight: 500;
}

.section3 button:hover{
    background-color: var(--button-color);
}


.section4{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    height: 80vh;
    position: relative;
}

.section4 .divcontent{
    background-color: #f4f6f3;
    width: 45%;
    padding-bottom: 50px;
    border-radius: 45px 0 45px 0;
    z-index: 2;
    position: absolute;    
    left: 50%;
    top: 30%;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.4);
}
.section4 .divcontent div{
    color: var(--nav-color);
    padding-left: 6%;
    padding-top: 5%;
}


.section4 .divcontent p{
 font-size: 20px;
 font-weight: 500;
}

.section4 .divcontent h3{
    font-size: 40px;
    padding-bottom: 20px;
    font-family: 'EB Garamond', serif;
}
.section4 .divcontent ul{
    list-style: none;
}
.section4 .divcontent ul i{
    padding-right: 9px;
}
.section4 .divcontent ul li{
    padding-bottom: 5px;
    font-size: 18px;
}

.section4 .divcontent button{
    background-color: var(--button-color)!important;
    border: 1px solid var(--button-color);
    border-radius: 0!important;
    font-size: 15px;
    font-weight: 500;
    padding:15px 20px;
    margin-top: 10px;
}

.section4 .divcontent button:hover{
    animation-name: moving;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}
.section5{
    padding-top: 80px;
    padding-bottom: 80px;
}
.section5 div{
    border:1px solid var(--nav-color) ;
    border-radius: 50px 0px 50px 0px;
    width: 60%;
    padding-top: 50px;
    padding-left: 50px;
    color: var(--nav-color);
}
.section5 div .p3{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
}

.section5 div h3{
    font-size: 40px;
    padding-bottom: 25px;
    font-family: 'EB Garamond', serif;
}

.section5 div .p4{
    font-size: 18px;
    font-weight: 400;
}

.section6{
    padding-top: 50px;
    padding-left: 70px;
    padding-bottom: 80px;
}

.section6 img{
    width: 10%;
    margin-left: 150px;
    filter: grayscale(0.9);
    
}
.section7{
    background-image: url(../images/footerbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    text-align: center;
    background-position: 40%;
    color: var(--firstColor);
}

.section7 h3{
   font-size: 40px;
   font-weight: 500;
   padding-top: 80px;
   padding-bottom: 30px;
   font-family: 'EB Garamond', serif;
}

.section7 p{
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 30px;
}

.section7 button{
    color: var(--nav-color);
    background-color: var(--button-color)!important;
    border: 1px solid var(--button-color);
    border-radius: 0!important;
    font-size: 15px;
    font-weight: 500;
    padding:15px 20px;
}
.section7 button:hover{
    animation-name: moving;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}
footer{
    background-color: #266980;
    padding-top: 40px;
    text-align: center;
    color: var(--firstColor);
}

footer a{
    text-decoration: none;
    color: var(--firstColor);
}

footer a:hover{
    color: #cbf4f4!important;
}

footer a i{
    height: 32px;
    width: 32px;
    border-radius: 30px 30px 30px 30px;
    background-color: #F4F6F3;
    border:1px solid #F4F6F3;
    color: var(--nav-color);
    font-size: 20px;
    padding-top: 5px;
    margin-top: 15px;
    margin-right:5px;
}

footer a i:hover{
    background-color: RGBA(0,0,0,0)!important;
    color: var(--firstColor);
    transition: background-color 300ms ease 0ms,background-image 300ms ease 0ms,color 300ms ease 0ms;
    border:1px solid #F4F6F3;
}

footer h3{
    font-size: 30px;
    padding-bottom: 20px;
    font-family: 'EB Garamond', serif;
}
footer p{
    font-size: 16px;
}

footer button{
    color: var(--nav-color);
    background-color: var(--button-color)!important;
    border: 1px solid var(--button-color);
    border-radius: 0!important;
    font-size: 15px;
    font-weight: 500;
    padding:15px 30px;
    margin-top: 8px;
}
footer button:hover{
    animation-name: moving;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}
footer .pre{
    padding-top: 30px;
    font-size: 18px;
    font-family: 'EB Garamond', serif;

}

.aboutsection1 .servingpatients{
    padding-top: 120px;
    color: black;
    padding-left: 120px;
}
.aboutsection1 .servingpatients h2{
    font-size: 40px;
    font-weight: 500;
    font-family: 'EB Garamond', serif;
    padding-bottom: 30px;
}

.aboutsection1 .servingpatients h2 span{
    color: #266980;
}

#aboutsection2 {
    padding-top: 100px;
    padding-left: 100px;
}

#aboutsection2 img{
    width: 40%;
}



.aboutsection1 .servingpatients p{
    font-size: 18px;
    color: var(--nav-color);
}
.aboutsection1 .servingpatients .card{
    background-color: #266980;
    border-radius: 0px 50px 0px 50px;
    padding: 30px;
    width: 30%;
    margin-left: 100px;
}
.aboutsection1 .servingpatients .card img{
    width: 100%;
}
.aboutsection1 .servingpatients .card p{
    color: var(--firstColor);
    font-size: 20px;
}
#aboutsection2 img{
    width: 70%;
}

#aboutsection2 .aboutsection2content{
    padding-bottom: 100px;
}

#aboutsection2 .dr1{
    border-top: 2px solid black;
    padding-top: 80px;
}

#aboutsection2 .dr1 h3{
    font-size: 40x;
    font-weight: 500;
    padding-bottom: 20px;
}
#aboutsection2 .dr1 p{
    color: var(--nav-color);
    font-size: 18px;
}
#aboutsection2 .dr1 .phead{
    font-size: 20px;
    font-weight: 600;
}
.patientsection1{
    padding-top: 100px;
    padding-left: 100px;
}
.servicesection1{
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 200px;
}

.patientsection1 img{
    width: 80%;
    padding-top: 90px;
}

.servicesection1 img{
    width: 90%;
    padding-top: 140px;
}
.patientsection1 h3{
    font-family: 'EB Garamond', serif;
    font-size: 65px;
    color: var(--nav-color);
}
.patientsection1 h4, .servicesection1 h4{
    font-family: 'EB Garamond', serif;
    font-size: 40px;
    color: black;
    padding-bottom: 7px;
}
.patientsection1 p{
    font-size: 20px;
    padding-bottom: 20px;
}
.servicesection1 p{
    font-size: 17px;
    padding-bottom: 20px;
}
.details2{
    background-color: #f4f6f3;
    margin-top: 60px;
    padding-bottom: 40px;
}
.details2 h3{
    font-family: 'EB Garamond', serif;
    color: black;
}
.details2 h4{
    padding-top: 40px;
    color: var(--nav-color);
    font-family: 'EB Garamond', serif;
    font-size: 60px;
}
.details2 i{
    font-size: 40px;
    color: #266980;
}
.visitus{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f4f6f3;
}
.visitus img{
    width: 80%;
    margin-left: 100px;
}
.visitus .content{
    padding-top: 200px;
    padding-left: 30px;
}

.visitus .content h2{
    color: var(--nav-color);
    font-family: 'EB Garamond', serif;
    font-size: 60px;
}

.visitus .content p{
    font-size: 20px;
    padding-top: 20px;
    color: black;
    font-weight: 400;

}
@keyframes moving {
    100% {transform: translateY(-20px);}
}

@media screen and (max-width:991px){
    .navbar-brand img{
        width:250px;
        padding-left: 2px;
    }
    .navbar-nav{
        padding-top: 40px;
    }
    .nav-link{
        text-align: center;
        padding-top: 30px;
    }
    .nav-item{
        padding-right: 0;
    }

    header .content{
        padding-top: 320px;
    }
    
    .content p{
        padding-bottom: 5px;
    }
    
    .content h1{
        font-size: 30px;
        padding-bottom: 35px;
    }
    .section1{
        height: 145vh;
        padding: 40px;  
    }

    .section1 .Dentistry img{
       padding-top: 20px;
    }
    .section2content{
        padding-top: 70px;
        padding-left: 50px;
    }
    .section2 .cards{
        margin-left: 0px;
        justify-content: center;
        padding-bottom: 50px;
    } 
    .section3 .card{
        margin-left: 25%;
        width:50%;
    } 
    .section4 .divcontent{
        width: 95%;
        position: absolute;    
        left: 2%;
        top: 15%;

    }  
    .section4 .divcontent div{
        color: var(--nav-color);
        padding-left: 6%;
        padding-top: 0;
    }
    .section5 div{
        width: 90%;
        padding-left: 30px;
    }
    .section6{
        display: none;
    }
    .section7 h3{
        padding-top: 50px;
     }
     
     .section7 p{
         font-size: 15px;
         padding-bottom: 20px;
     }  
    footer a i{
        padding-top: 3px;
        margin-top: 0px;
    }
    footer h3{
        padding-top: 80px;
        padding-bottom: 10px;
    }
    footer .pre{
        padding-top: 30px;
        font-size: 8px;
    
    }   
    #aboutsection2 img{
        width: 100%;
    }
    
    #aboutsection2 .aboutsection2content{
        padding-bottom:60px;
        padding-top: 60px;
    }
    .aboutsection1 .servingpatients{
        padding-left: 10px;
    }
    .aboutsection1 .servingpatients .card{
        width: 100%;
        margin-left: 0px;
    }
    #aboutsection2 {
        padding-left: 20px;
    }
    #aboutsection2 .dr1{
        border-top: none;
        border-bottom: 2px solid black;
        padding-top: 0px;
        padding-bottom: 20px;
    } 
    .patientsection1{
        padding-left: 10px;
    }
    .patientsection1 img{
        width: 100%;
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .patientsection1 h3{
        font-size: 35px;
    }
    .shinebright{
        padding-top: 0px;
        padding-left: 10px;
    }
    .servicesection1{
        padding-top: 0px;
        padding-left: 10px;
        padding-bottom: 100px;
    }
    .servicesection1 img{
        width: 100%;
        padding-top: 140px;
        padding-bottom: 70px;
    }
    .detail{
        padding-top: 120px;
        padding-bottom: 10px;
    }
    .detail img{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .visitus{
        padding-top: 0px;
        padding-bottom: 100px;
        background-color: #f4f6f3;
    }
    .visitus img{
        width: 100%;
        padding-left: 10px;
        margin-left: 0px;
    }
    .visitus .content{
        padding-top: 50px;
        padding-bottom: 30px;
    }
    
    #Dentistry{
    height: 95vh;
}
    .section7{

    height: 60vh;
}
  
}
